<!-- Navigation -->
<nav class="navbar header">
  <a class="navbar-brand" href="/">
    <img src="logo.png" class="img-fluid" alt="Responsive image" align="center" width="50%" height="50%">
  </a>
</nav>
