<div class="login_form">
        <setion class="login-wrapper">
          
          <div class="logo">
               <a target="_blank" rel="noopener" href="https://lynchconstruction.net">
               <img src="../assets/img/logo.png" alt="logo"></a>
          </div>
          
          <form id="login" method="post" action="#">
           
            <label for="username">User Name</label>
            <input  required name="login[username]" type="text" autocapitalize="off" autocorrect="off"/>
            
            <label for="password">Password</label>
            <input class="password" required name="login[password]" type="password" />
            <div class="hide-show">
              <span>Show</span>
            </div>
            <button type="submit">Sign In</button>
          </form>
        </section>
    </div>