{{> nav }}

<div class="container">
    <form id="signin" name="signin" method="post" action="signin">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name=email>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your Password" name="password">
            <label id="passwordText">show password</label><input type="checkbox" id="togglePassword"><br>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
    </form>
</div>
<br><br>


<div class="container">
    <form id="signup" name="signup" method="post" action="/">

        <div class="form-group">
            <label for="firstname">Firstname:</label><br>
            <input id="firstname" name="firstname" placeholder="Enter your First Name" type="text" />
        </div>

        <div class="form-group">
            <label for="lastname">Lastname:</label><br>
            <input id="lastname" name="lastname" placeholder="Enter your Last Name" type="text" />
        </div>

        <div class="form-group">
            <label for="email">Email Address:</label><br>
            <input class="text" id="email" name="email" placeholder="Enter your Email" type="email" />
        </div>

        <div class="form-group">
            <label for="password">Password:</label><br>
            <input class="password" name="password" placeholder="Enter your Password" type="password" />
        </div>
        <button type="submit" class="btn-warning">Sign up</button>
    </form>
</div>

{{> footer }}