{{> nav }}

<button><a href="signup">Click here to Sign Up!</a></button>
<br>

<div class="container">
    <form id="signin" name="signin" method="post" action="signin">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name=email>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your Password" name="password">
            <label id="passwordText">show password</label><input type="checkbox" id="togglePassword"><br>
        </div>
        <button type="submit" action="two-buttons"class="btn btn-lg btn-warning btn-block">Submit</button>
    </form>
    </form>
</div>
<br>


{{> footer }}