{{> nav }}

<form   id="addBtn" class="addBtn">
    <a href="/submit-data" class="btn btn-warning">ADD FUEL DATA</a>
</form><br>

<form   id="viewBtn" class="viewBtn">
    <a href= "/view-data" class="btn btn-warning">VIEW FUEL DATA</a>
</form><br>

{{> footer }}