{{> nav }}

<form action="submit-data" method="get" id="addBtn">
    <button type="button" class="btn btn-primary">ADD FUEL DATA</button>
</form><br>

<form action="view-data" method="get" id="viewBtn">
    <button type="button" class="btn btn-primary">VIEW FUEL DATA</button>
</form>


<button type="submit" class="btn btn-primary" id="viewBtn">VIEW FUEL DATA</button>



{{> footer }}
