{{> nav }}

<form action="submit-data" method="get" id="addBtn" class="addBtn">
    <button type="button" class="btn btn-primary">ADD FUEL DATA</button>
</form><br>

<form action="view-data" method="get" id="viewBtn" class="viewBtn">
    <button type="button" class="btn btn-primary">VIEW FUEL DATA</button>
</form>

{{> footer }}