

  body, html, .login_form, form {
    height: 3.125rem;
    padding: 3rem 1.5rem;
    text-align: left;
  }
  
  body {
    background: tan;
    text-align: center;
  }

  .form {
    padding: 5px;
    margin: 5px;
    background: tan;
  }
  
  .form-group {
    margin-bottom: 5px;
  } 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}
