*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html, .login_form {
  height: 3.125rem;
  padding: 0;
  text-align: center;
}

body {
  background: darkgreen;
  text-align: center;
}

.footer {
  position: 20px;
  background-color: darkgreen;
}

footer {
  display: table-row;
  height: 1px;
  background-color: darkgreen !important;
  color: yellow;
  
}

.logo, logo {
  text-align: center;
  height: 1px;
}
