input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

body {
    background: darkgreen;
    text-align: center;
}

.footer {
  position: 20px;
  background-color: darkgreen;
}

footer {
  display: table-row;
  height: 1px;
  background-color: darkgreen !important;
  color: yellow;
  
}

.logo, logo {
  text-align: center;
  height: 1px;
}
