*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body, html, .login_form {
    height: 3.125rem;
    padding: 3rem 1.5rem;
    text-align: left;
  }
  
  body {
    background: tan;
    text-align: center;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}